.content{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.title{
  /* border-bottom:#2294cb 1px solid;
  border-top: #2294cb 1px solid;  */
  width: 60vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  background-color: #2294cb;
  color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}

.title2{
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 11vw;
  text-align: left;
  padding-top: 20px;
  font-size: 14pt;
}

h4{
  font-weight: bold;
  display: inline-flex;
  text-align: center;
  text-transform: uppercase;
}

h5{
  color: #2294cb; 
  text-transform: uppercase;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

.date{
  align-self: flex-start;
  justify-content: flex-end;
}

.date p{
  color: gray;
  font-size: 11pt;
}

.centre_info{
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: row;
  width: 60vw;
  border-bottom: #2294cb 1px solid;
  flex-wrap: wrap;
}

.centre{
  padding-bottom:20px; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.staff{
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding-bottom: 20px;
  border-bottom: #2294cb 1px solid;
  flex-wrap: wrap;
}

.photos{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 60vw;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.img{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cylinder{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex; 
  flex-direction: column;
  width: 60vw;
}

