.content{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.title{
  /* border-bottom:#2294cb 1px solid;
  border-top: #2294cb 1px solid;  */
  width: 60vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  background-color: #2294cb;
  color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}

.title2{
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 11vw;
  text-align: left;
  padding-top: 20px;
}

h4{
  font-weight: bold;
  display: inline-flex;
  text-align: center;
  text-transform: uppercase;
}

.numbers{
  width: 50vw; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.address{
  padding-bottom:20px; 
  border-bottom: #2294cb 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60vw;
}

.staff{
  padding-top: 20px; 
  display: flex;
  justify-content: space-around;
  width: 60vw;
  padding-bottom: 20px;
  border-bottom: #2294cb 1px solid;
  flex-wrap: wrap;
}

.photos, .cylinder{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 60vw;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.img{
  display: flex;
  flex-direction: column;
  align-items: center;
}


