footer{
  background-color: white;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

footer p{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
}