body,
html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  background-color: rgb(10, 28, 76);
  background-image: url("../img/back_from2.jpg");
  background-position: center center;
  background-size: cover;
}

h3{
  margin-top: 10%;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

#icon{
  height: 80px; 
  width: 110px; 
  margin: -10px;
  margin-left: 5px;
  margin-right: 20px;
}

nav{
  margin-top: -5px;
  margin-bottom: -5px;
}

.navbar-light .navbar-toggler{
  border: none;
}

.navbar-brand{
  text-transform: uppercase;
  font-weight: bold;
  white-space: pre-wrap;
}

@media(max-width: 768px){
  #card-contact{
    /* margin: 10%; */
    margin-top: 10%;
    /* margin-left: 30%;
    margin-right: 30%; */
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media(min-width: 768px){
  #card-contact{
    /* margin: 10%; */
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.card{
  margin: 20px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.form-group.is-focused label{
  color: #2294cb; 
}

.title{
  text-transform: uppercase;
  color: #2294cb;
  font-weight: bold;
  text-align: center;
}

.title-white{
  text-transform: uppercase;
  color: white; 
  text-align: center;
  margin-top: 20px;
}

.phone{
  font-size: 10pt;
  color: #2294cb;
}

#mobile_telephonecode, #centre_telephonecode{
  margin-top: -8px;
}

.btn{
  background-color: #2294cb;
  border-radius: 20px;
  color: #fff;
}
 .btn-light{
  background-color: #fff;
  border-radius: 20px;
  color: #2294cb;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

#pdf-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

#pdf-title{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media(max-width: 768px){
  #pdf{
    /* max-width: 70%;
    max-height: 90%; */
    max-width: 180px; 
    max-height: 180px;
    min-width:130px;
    min-height: 130px;
    width: 80px; 
    height: 100px;
    margin-bottom: 30px;
  }
}

@media(min-width: 768px){
  #pdf{
    /* max-width: 70%;
    max-height: 90%; */
    max-width: 180px; 
    max-height: 180px;
    min-width:130px;
    min-height: 130px;
    margin-bottom: 30px;
  }
}

#pdf-icon{
  display: flex;
  justify-content: center;
}

#pdf-button{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.row{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 30px;
}

.doors-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.doors{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.submit{
  display: flex; 
  justify-content: center;
}

.next{
  display: flex;
  justify-content: center;
  margin-left: 20%;
  text-transform: uppercase;
}

.next a{
  color: white;
}

.back{
  display: flex;
  justify-content: center;
  margin-right: 20%;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.back a{
  color: white;
}

#back-pdf{
  margin-right: 0%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.links a{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color:white;
  font-weight: bold;
}

.links{
  margin-top: 10px;
  display: inline-flex; 
  justify-content: space-around;
}

.text{
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;
  font-style: italic;
}

select{
  margin-top: -10px;
}



