body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  background-color: rgb(10, 28, 76);
  background-image: url("../img/back_from2.jpg");
  background-position: center center;
  background-size: cover;
}

h3{
  margin-top: 10%;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

#icon{
  height: 80px; 
  width: 110px; 
  margin: -10px;
  margin-left: 5px;
  margin-right: 20px;
}

nav{
  margin-top: -5px;
  margin-bottom: -5px;
}

.navbar-brand{
  text-transform: uppercase;
  font-weight: bold;
}

.card-contact{
  margin: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.card{
  margin: 20px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.form-group.is-focused label{
  color: #2294cb; 
}

.title{
  text-transform: uppercase;
  color: #2294cb;
  font-weight: bold;
}

#telephonecode{
  margin-top: -8px;
}

.btn{
  background-color: #2294cb;
  border-radius: 20px;
  color: #fff;
}
 .btn-light{
  background-color: #fff;
  border-radius: 20px;
  color: #2294cb;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

#pdf-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

#pdf-title{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#pdf-icon{
  display: flex;
  justify-content: center;
}

#pdf-button{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#pdf{
  /* max-width: 70%;
  max-height: 90%; */
  max-width: 180px; 
  max-height: 180px;
  min-width:130px;
  min-height: 130px;
}

.photos-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 15%;
}

.submit{
  display: flex; 
  justify-content: center;
}