
#icon{
  height: 80px; 
  width: 110px; 
  margin: -10px;
  margin-left: 5px;
  margin-right: 20px;
}

nav{
  margin-top: -5px;
  margin-bottom: -5px;
}

.navbar-brand{
  text-transform: uppercase;
  font-weight: bold;
}