body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Merriweather', Arial, sans-serif;
}

#icon{
  height: 80px; 
  width: 110px; 
  margin: -10px;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #44c868;
}

hr.dark {
  border-color: #3c3c3b;
}

a {
  color: #3c3c3b;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #1ea4e9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.title{
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 30px;
}

.bg-primary {
  background-color: #1ea4e9 !important;
}

.bg-danger {
  background-color: #ff4a4a !important;
}

.bg.success {
  background-color: #44c868 !important;
}

.bg-dark {
  background-color: #212529 !important;
}
.bg-grey{
  background-color: #efeff4 !important;
}
.badge{
  padding: 10px;
  font-size: 11pt;
  margin: 30px;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  margin-right:5%;
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.navbar{
  box-shadow: none;
}

.navbar-right{
  margin-right: 20px;
}

.navbar-light .navbar-toggler{
  border-color: white; 
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #3c3c3b;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  width: 80%;
  white-space: pre-wrap;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #3c3c3b;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #44c868;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #44c868 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: #fff;
  }
  #mainNav .navbar-brand {
    color: #3c3c3b;
    margin-left: 50px;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #3c3c3b;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #44c868;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #44c868;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #44c868;
  }
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: white;
}

.pre{
  width: 100%; 
  height: 100vh; 
  background-image: url("../img/regus1.png");
  background-position: center center;
  background-size: cover;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.post{
  width: 100%; 
  height: 100vh; 
  background-image: url("../img/cylinder.jpg");
  background-position: center center;
  background-size: cover;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#welcome{
  font-size: calc(1em + 1vw);
  text-transform: uppercase;
  /* margin-top: 5%;
  margin-bottom: 5%; */
  padding: auto;
  text-align: center;
}

/* header.masthead {
  width: 100%; 
  height: 100vh; 
  background-image: url("../img/regus.png");
  background-position: center center;
  background-size: cover;
}  */

h1 {
  font-size: 2rem;
  color: #3c3c3b;
}

p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header{
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header h1 {
    font-size: 2rem;
    color: #3c3c3b;
  }
}

@media (min-width: 1200px) {
  header h1 {
    font-size: 4rem;
    color: #3c3c3b;
  }
}

.service-box {
  max-width: 400px;
}

.text-primary {
  color: #44c868 !important;
}

.text-dark {
  color: #3c3c3b !important;
}

.text-white{
  color: #fff !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: rgb('15,126,195');
  margin-bottom: 50px;
  color: white;
  text-transform: uppercase;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0%;
  letter-spacing: 1pt;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: rgb('15,126,195');
  background-color: white !important;
  cursor: pointer;
}

@media(max-width: 768px){
  .btn-primary {
    background-color: rgb('15,126,195');
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    border-radius: 0%;
    letter-spacing: 1pt;
  }
}

#we{
  position: relative;
}

#we::after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/people.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

.home-post{
  margin-bottom: 15px;
}

.home-post .post-meta {
  background: #44c868;
  padding: 20px;
  overflow: hidden;
  color: #fcfcfc;
}

.home-post .entry-content {
  padding: 20px;
}

.home-post:hover{
  box-shadow: 5px 5px 10px lightgrey;
}

.row{
  display: flex;
  justify-content: center;
}

/* .card{
  background-color: #3c3c3b;
} */

.form-control{
  margin-top: -10px;
}

.bmd-label-floating{
  transform: translateY(-120%);
}
select{
  color: #ccc;
}

/* .input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #000;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
} */

.info{
  width: 50%;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#trompet{
  margin-right: 20px;
  margin-top: -20px;
}

form{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputs{
  margin-bottom: 50px;
}

#one{
  margin-top: 70px;
  margin-bottom: 100px;
}

#input{
  /* margin-bottom: 170px; */
  /* margin-top: 165px; */
  margin: 30px;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: row;
  max-width: 550px;
}

#input label{
  margin-right: 10px;
}

#telephone{
  margin-top: -1px;
}


