/* /* input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;

} */


select.parsley-error:focus,
input.parsley-error:focus,
input.parsley-error,
select.parsley-error,
label.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  /* background-color: #F2DEDE; */
  /* border-bottom: 2px solid red; */
} 

.parsley-errors-list {
  margin: 2px 2px 3px 2px;
  padding: 1px;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}