#icon{
  height: 80px; 
  width: 110px; 
  margin: -10px;
  margin-left: 5px;
  margin-right: 20px;
}
.collapse .navbar-collapse{
  width: 100%;
}

nav{
  margin-top: -5px;
  margin-bottom: -5px;
}

.navbar-brand{
  text-transform: uppercase;
  font-weight: bold;
  white-space: pre-wrap;
}

.navbar-dark .navbar-toggler{
  border: none;
}

@media(max-width:1000px){
  .log {
    margin-left: -20px;
    margin-top: -20px;
  }
}

@media(min-width: 1000px){
  .log {
    margin-left: 50%;
    margin-top: -20px;
  }
}

form{
  display: inline-flex;
  align-self: flex-end;
  margin-top: 20px;
}

a{
  display: inline-flex;
  align-content: center;
  color: #3c3c3b;
}

a:hover{
  color: #2286cb;
}

p{
  padding-left: 20px;
  display: inline-flex;
  align-self: flex-start;
}

/* .drawer{
  position: fixed;
  height: 100%;
  background-color:#999999;
  -webkit-box-shadow: 3px 3px 11px -2px rgba(60,60,59,0.64);
  -moz-box-shadow: 3px 3px 11px -2px rgba(60,60,59,0.64);
  box-shadow: 3px 3px 11px -2px rgba(60,60,59,0.64);
} */

.centre-open a, .user-open a{
  padding-top: 15px;
  padding-bottom: -10px;
  padding-left: 40px;
  margin-top: 20px;
  background-color: #2294cb;
  width: 180px;
  height: 50px;
  border-radius: 0px 60px 60px 0px;
}

.centre-open a:hover, .user-open a:hover, .user a:hover, .centre a:hover{
  text-decoration: none;
  background-color: #2286cb;
  -webkit-box-shadow: 10px 10px 11px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 11px -11px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 11px -11px rgba(0,0,0,0.75);

}

.centre-open p, .centre-open i, .user-open p, .user-open i, .user i, .centre i{
  color: white;
}

.user a, .centre a{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  margin-top: 20px;
  background-color: #2294cb;
  width: 80px;
  border-radius: 0px 60px 60px 0px;
}

ul{
  margin: 0px; 
  padding: 0px;
}

li{
  list-style-type:none; 
  padding: 5px;
  padding-top: 20px;
  padding-right: 20px; 
  padding-left: 30px;
  border-bottom: 1px solid rgba(100,100,100,0.4);
}

li a, #logout{
  color: white;
}

li p{
  padding-left: 30px;
}

table{
  margin-top: 50px;
}

tr:hover{
  cursor: pointer;
  background-color: lightgray;
}

.filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-left: 20px;
}

.btn{
  background-color: #2294cb;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 1pt;
  margin-top: 25px;
  margin-left: 10px;
  color: white;
}

.botones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search{
  margin-left: 10px;
}

#edit, #delete{
  size: 4;
}

img{
  width: 80px;
  height: 50px;
}

.post{
  visibility: hidden;
}